
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
}
:root{
    --logo: #465685;
    --fundo:#00B4DB;
    --container:#fff;
    --login: #414042;
    --campos: #BCBEC0;
    --botao: #A93159;
    --ou: #798995;
}

body{
    background-color: var(--fundo);
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 100vh;
    background-image: url("/assets/homemfundo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
    height: 93%;

    background-image: url("/assets/homem.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 102%;
    background-color: var(--container);

    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    text-align: start;
    border-radius: 16px;
    padding-left: 7.8rem;
}


.container__principal__login{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--login);
    margin-bottom: 1.5rem;
    text-shadow: #00000040 0 4px 4px;
}

.container__principal__form{
    display: flex;
    flex-direction: column;
}

.container__principal__form_preencher{
    color: var(--campos);
    border-radius: 40px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--campos);
    outline: none;
}   

.container__principal__form_nome{
    color: var(--login);
    margin-bottom: 0.5rem;
}

.container__principal__esqueceu{
    font-size: 0.7rem;
    color: var(--logo);
    display:block;
    margin: -1rem 0 2rem 0;
    text-decoration: none;
}

.botaoenviar{
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--container);
    background-color: var(--botao);
    padding: 0.9rem;
    display: block;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

.container__principal__continue{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--ou);
}

.pequeno{
    font-size: 0.8rem;
}
.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    text-align: center;
}

.botaoredes{
    border: 1px solid var(--campos);
    border-radius: 40px;
    padding: 13px 47px;
    margin-bottom: 1.5rem;
}

.botaoredes:hover{
background-color: var(--botao);
}

.naotem{
    color: var(--campos);
    text-align: center;
}

.registre{
    color: var(--logo);
    font-weight: 500;
    text-decoration: none;
}

@media(max-width:1170px)and (min-width: 479px){
    .container{
       background-image: none;
       display: inline-block;
       padding: 1rem;
       text-align: center;
       height: auto;
    }

}

@media (max-width:479px){

    .container{
        background-image: none;
        display: inline-block;
        padding: 1rem ;
        text-align: center;
        height: auto;
        
     } 

    .redes{
        grid-template-columns: 1fr;
    }

    .container__principal__login{
        padding-bottom: 1rem;
    }
}